<div class="sidebar">
    <div class="sidebar-menu">
        <div class="menu-accordion">
            <div class="menu-item accordion-header active" data-target="tab-exams">
                <div class="header-content">
                    <i class="fa-solid fa-book"></i> <span>Kho Đề Thi</span>
                </div>
                <i class="fa-solid fa-chevron-down accordion-icon" style="transform: rotate(180deg);"></i>
            </div>
            <div class="accordion-content show">
                <div class="sub-menu-item active" data-technique="all">
                    <i class="fa-solid fa-list-ul"></i> Tất cả
                </div>
                <div class="sub-menu-item" data-technique="MRI">
                    <i class="fa-solid fa-magnet"></i> MRI
                </div>
                <div class="sub-menu-item" data-technique="CT">
                    <i class="fa-solid fa-radiation"></i> CT
                </div>
                <div class="sub-menu-item" data-technique="X quang">
                    <i class="fa-solid fa-x-ray"></i> X quang
                </div>
                <div class="sub-menu-item" data-technique="Hỗn hợp">
                    <i class="fa-solid fa-layer-group"></i> Hỗn hợp
                </div>
                <div class="sub-menu-item" id="menu-saved-exams" data-technique="saved" style="border-top: 1px dashed var(--border-color); margin-top: 5px;">
                    <i class="fa-solid fa-bookmark" style="color: var(--star-color);"></i> Đề thi đã lưu
                </div>
            </div>
        </div>

        <div class="menu-item" data-target="tab-history">
            <i class="fa-solid fa-clock-rotate-left"></i> <span>Lịch sử làm bài</span>
        </div>

        <div class="menu-item" data-target="leaderboard">
            <i class="fa-solid fa-trophy" style="color: var(--warning-orange);"></i> <span>Bảng Xếp Hạng</span>
        </div>
    </div>
</div>
